# Node
node_modules/
dist/
.next/
.turbo/
coverage/

# Env
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
.idea/
.vscode/

# Prisma
prisma/.env
prisma/migrations/
